client_ip.cfg
server_ip.cfg
web/password.txt
profiles/*.cfg
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.eggs/
pip-wheel-metadata/
*.egg
.venv/
venv/
env/
.DS_Store
Thumbs.db
*.swp
*.swo
*~
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.log
mjpg-streamer/
.gitignore

# files to exclude from commit
create_ser2net_yaml.sh
pics/nano-server-cw.mp4
pics/nano-server-web-1-tile.jpg
pics/nano-server-web-7.png
pics/nano-server.mp4
