[Unit]
Description=PTT Server and Client Monitor
After=network.target multi-user.target

[Service]
User=root
Group=root
Type=simple

WorkingDirectory=/home/pi/nano-server
ExecStart=/home/pi/nano-server/network/combined_ptt_service.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
