[Unit]
Description=CAESAR Web Configuration Server
After=network.target multi-user.target

[Service]
User=root
Group=root
Type=simple

WorkingDirectory=/home/pi/nano-server/web
ExecStart=/usr/bin/waitress-serve --listen=0.0.0.0:8080 web_config_server:app
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
